<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8"/>
    <title th:text="'User'">Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
</head>
<body class="container">

<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Username</td>
        <td>Email</td>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="user : ${allUsers}" th:object="${user}">
        <td><a th:href="@{user/{id}(id=*{id})}" th:text="*{id}"></a></td>
        <td th:text="*{username}"></td>
        <td th:text="*{email}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>